.container {
  height: 80vh;
}

.form-group {
  position: relative;
}

.error-placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-weight: 700;
}
