<footer class="bg-black text-light pt-4">
  <div class="container px-4 px-md-3">
    <div class="row justify-content-between">
      <div class="col-6 col-lg-3 mb-3">
        <h5>Link utili</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/" class="text-light">Home</a></li>
          <li class="mb-2"><a href="#" class="text-light">Film Popolari</a></li>
          <li class="mb-2">
            <a href="#" class="text-light">Film in Arrivo</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 mb-3">
        <h5>Servizi</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-light">Recensioni</a></li>
          <li class="mb-2">
            <a href="#" class="text-light">News Cinematografiche</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 mb-3">
        <h5>Contatti</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-light">Supporto</a></li>
          <li class="mb-2"><a href="#" class="text-light">Chi Siamo</a></li>
        </ul>
      </div>
      <div class="col-12 mb-3 text-center">
        <small>&copy; 2024 MarsiFlex. Tutti i diritti riservati.</small>
      </div>
    </div>
  </div>
</footer>
